<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width", user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equip="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    {% comment %} <base href="{% static 'icons/favicon.png' %}" rel="shortcut icon" type="image/png" /> {% endcomment %}
    <title>{{ title }}</title>
</head>
<body>

<main class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          
            <a href="{% url 'app_mysite:quotes' %}"></a>

            {% if user.is_authenticated %}

            
            {% comment %} <div class="btn-group" role="group"> {% endcomment %}
                <ul class="nav nav-tabs">
                    <li class="nav-item" role="presentation">
                        {% if request.get_full_path == "/add_author/" %}
                        <a class="nav-link active" href="{% url 'app_mysite:add_author' %}">Add author</a>
                        {% else %}
                        <a class="nav-link" href="{% url 'app_mysite:add_author' %}">Add author</a>
                        {% endif %}
                    </li>
                    <li class="nav-item" role="presentation">
                        {% if request.get_full_path == "/add_quote/" %}
                        <a class="nav-link active" href="{% url 'app_mysite:add_quote' %}">Add quote</a>
                        {% else %}
                        <a class="nav-link" href="{% url 'app_mysite:add_quote' %}">Add quote</a>
                        {% endif %}
                    </li>
                </ul>
            <ul class="nav justify-content-end">  
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="{% url 'users:logout' %}">Logout</a>
                </li> 
            </ul>  
                
            {% else %}

            
            {% comment %} <ul class="nav nav-tabs"> {% endcomment %}
                {% comment %} <li class="nav-item">
                    {% if request.get_full_path == "/" %}
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    {% else %}
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                    {% endif %}
                </li> {% endcomment %}
                    {% comment %} <li class="nav-item">
                        {% if request.get_full_path == "/quotes/" %}
                        <a class="nav-link active" href="{% url 'app_mysite:quotes' %}"></a>
                        {% else %} {% endcomment %}
            {% comment %} <a class="nav-link" href="{% url 'app_mysite:quotes' %}"></a> {% endcomment %}
                        {% comment %} {% endif %}
                    </li>
                </ul> {% endcomment %}
              
            
            <ul class="nav justify-content-end">
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="{% url 'users:login' %}">SignIn</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="{% url 'users:register' %}">SignUp</a>
                </li>
            </ul>

            {% endif %}

        </div>
    </nav>      
    {% block content %}
    {% endblock %}
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>
