{% extends "app_mysite/base.html" %}

{% block content %}
   
<div class="w-100 p-3">
    <h2 class="text-primary">Your added quotes</h2>
    <div class="row">

        {% for quote in quotes %}
    
            <div class="card w-100 mb-3">
                <div class="card-body">
                    <h5 class="fst-italic">{{quote.quote}}</h5>
                    <div>
                        <span>by 
                            <small class="text-primary"><small class="fw-bold">{{quote.author}}</small></small>
                        <a href={{author.fullname}}>about</a>
                        </span>
                    </div>
                    <div>    
                        <div>
                            <span>Tags: 

                            {% for tag in quote.tags %}
                            
                                <button type="button" class="btn btn-outline-primary btn-sm">{{ tag }}</button>
                            
                            {% endfor %}
                        
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        
        {% endfor %}

    </div>
</div> 

{% endblock %}